.side-bar {
    position: relative;
    float: left;
    font-size: 14px;
    width: 250px;
    height: 100vh;
    background-color: #0087be !important;
    border-right: 1px solid #bbbbbb;
}

.side-bar .navbar-content {
    width: 100%;
}

.side-bar .navbar-content .nav-item {
    display: flex;
    cursor: pointer;
    height: 23px;
    color: #fff;
    text-decoration: none;
    align-items: center;
    padding: 12px 0 12px 10px;
    /* font-size: 1px; */
    border-top: 1px solid #016087!important;
    border-bottom: 1px solid #016087!important;
}

.nav-item .nav-item-icon {
    width: 40px;
    height: 50px;
    background-image: url('../../assets/Resource1/content/images/iconMenu.png');
    background-repeat: no-repeat;
}

.navbar-item-category {
    background-position: 6px -142px;
}

.navbar-item-dashboard {
    background-position: 6px 11px;
}

.navbar-item-report {
    background-position: 6px -181px;
}

.navbar-item-order {
    background-position: 6px -363px;
}

.navbar-item-stock {
    background-position: 6px -28px;
}

.navbar-item-cash {
    background-position: 6px -67px;
}

.navbar-item-bank {
    background-position: 6px -28px;
}

.navbar-item-cost {
    background-position: 6px -67px;
}

.navbar-item-sale {
    background-position: 6px -107px;
}

.navbar-item-menu {
    background-position: 6px -445px;
}

.navbar-item-setting {
    background-position: 6px -221px;
}

.navbar-item-help {
    background-position: 6px -270px;
}

.navbar-item-5foot {
    background-position: 6px -484px;
}

.side-bar .navbar-content .nav-item:hover {
    background-color: #005082;
    color: #fff;
}

.side-bar .navbar-content .nav-item:focus {
    background-color: #005082;
    color: black;
}

.side-bar .navbar-content .nav-item:active {
    background-color: #005082;
    color: black;
}

.nav-item .nav-item-text {
    align-self: center;
    /* margin-top: 2px; */
    /* font-size: 18px; */
}


/* .nav-item .nav-item-icon {
    width: 20px;
    height: 20px;
    /* align-self: center; */


/* margin-right: 5px; */


/* background-size: contain; */


/* } */


/* .navbar-item-category {
    background-image: url("../../assets/Resource/icon/setting.png");
    background-size: contain;
    background-position: center;
} */


/*Dropdown category */

.category-dropdown {
    position: relative;
    display: inline-block;
    font-size: 14px;
}

.category-dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #e9d8f4;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.category-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.category-dropdown-content a:hover {
    background-color: #ccc;
}

.category-dropdown:hover .category-dropdown-content {
    display: inline-block;
    /* margin-top: 5px; */
}