.container {
    /* margin-left: 240px; */
    margin-top: 10px;
    margin-right: 10px;
    height: calc(100vh-50px);
    font-size: 14px;
}

.header-content {
    display: flex;
}

.header-content .header-content-left {
    display: flex;
    align-items: center;
}

.header-content-left .title {
    font-size: 22px;
    font-weight: 600;
    padding: 0 10px 0 0;
    display: block;
}

.header-content-left .sub-title {
    font-size: 18px;
    color: #0087be;
    padding: 0 10px 0 0;
    display: block;
}

.header-content-left .filter-workstatus {
    display: flex;
    align-items: center;
    align-self: center;
}

.header-content-left .filter-workstatus select {
    padding: 0.3em;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    color: #000;
    margin-left: 8px;
    border: 1px solid #ccc;
}

.header-content-right {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}

.header-content-right button:focus,
.filter-workstatus select:focus,
.table-employee input:focus,
.table-employee select:focus,
.table-employee button:focus,
.button-group-option button:focus {
    outline: 1px solid #0087be;
}


/*Table Content */

.content-table {
    width: 100%;
    position: absolute;
    margin-top: 20px;
    height: calc(100vh - 150px);
}

.table-employee {
    width: 100%;
    display: block;
    height: calc(100% - 80px);
    overflow-y: auto;
    overflow-x: auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.isActive {
    background-color: #ddd;
}

.row-onfocus {
    cursor: pointer;
}

.row-onfocus:hover {
    background-color: #ddd;
}

.filter-col {
    display: flex;
}

.table-employee input,
.table-employee select {
    width: 90%;
    padding: 4px 0 4px 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.table-employee th,
.table-employee td {
    border: 1px solid #ccc;
}


/* .table-employee th {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    background-color: #ddd;
    padding-bottom: 15px;
  } */

.col-username {
    width: 12%;
}

.col-fullname {
    width: 36%;
}

.col-phonenumber {
    width: 15%;
}

.col-dateofbirth {
    width: 13%;
}

.col-gender {
    width: 10%;
}

.col-workstatus {
    width: 10%;
}


/*Table Paging */

.table-paging {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
}

.table-paging .table-paging-left {
    display: flex;
    align-items: center;
}

.table-paging .table-paging-left div {
    display: block;
    padding: 0 20px 0 0;
    cursor: pointer;
}


/* .table-paging .table-paging-left div:hover{
    background-color: #ddd;
    padding: 10px;
  } */

.table-paging-left input {
    width: 50px;
    height: 20px;
    margin-top: -1px;
}

.table-paging-right {
    position: absolute;
    right: 1em;
    align-items: center;
}