.m-dialog {
    z-index: 999;
}

.dialog-header {
    position: relative;
    height: 30px;
    line-height: 60px;
    padding-left: 5px;
    padding-bottom: 13px;
    display: flex;
    font-size: 20px;
    background-color: #016087;
}

.dialog-header-title {
    color: #fff;
    left: 0;
    margin-top: -7px;
}

.dialog-header-close {
    position: absolute;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    top: 7px;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 24px;
    line-height: 24px;
    color: #0087be;
}

.dialog-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
}

.dialog-content {
    position: fixed;
    border-radius: 5px;
    border: 4px solid #016087;
    border-top: none;
    width: 1000px;
    background-color: #fff;
    left: calc(50% - 475px);
    top: calc(50% - 310px);
}

.dialog-body {
    padding: 0;
}

.dialog-footer {
    display: flex;
    width: 100%;
    height: 100px;
    border-radius: 0 0 5px 5px;
    align-items: center;
    justify-content: flex-end;
    padding: 12px 24px;
    box-sizing: border-box;
}

.el-avatar-employee {
    padding-top: 16px;
    padding-right: 16px;
}

.el-avatar-note {
    font-size: 12px;
}

.el-avatar-employee .el-avatar {
    border: 1px solid #ccc;
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(/content/img/default-avatar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.currency-for-input {
    position: absolute;
    right: 40px;
    line-height: 40px;
    font-style: italic;
}

.group-button-detail {
    background-color: #f5f5f5;
    overflow: hidden;
    display: flex;
    height: 35px;
}

.group-button-detail button {
    width: 70px;
    height: 30px;
    border-radius: 3px;
    align-items: center;
    border: 1px #f5f5f5 solid;
    display: flex;
    background-color: #f5f5f5;
    margin: 1px 20px 1px 1px;
}

.group-button-detail button:hover {
    border: #0087be solid 1px;
}

.group-button-detail button:focus {
    outline: none;
    border: #0087be solid 1px;
}

.tabs-detail {
    background-color: #f5f5f5;
    overflow: hidden;
    margin: 15px 0;
}

.tabs-detail button {
    background-color: #fff;
    float: left;
    border-bottom: none;
    border-top: 3px solid #0072bc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    transition: 0.3s;
    font-size: 15px;
    color: #0072bc;
}

.infor-detail-input label {
    display: flex;
}

.table-detail {
    width: 100%;
    /* border: 1px solid #ccc; */
}

.input-require {
    color: red;
}

.table-detail tr {
    margin-top: 20px;
}

.table-detail td:nth-child(1) {
    width: 20%;
    margin-right: 50px;
}

.form-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 4px 0;
    background-color: #ddd;
}

.col-text {
    padding-left: 50px;
}

.col-text-password {
    text-align: center;
}

.text-note {
    font-size: 13px;
    font-style: italic;
}

.form-input-date {
    width: 100%;
    border: 1px solid #ccc;
    padding: 3px 0;
    background-color: #ddd;
}

.form-input:focus {
    outline: 1px solid #0087be;
}

.table-detail .col-50 {
    width: 32%;
}

.table-detail input[type="checkbox"] {
    margin: 2px 6px 2px 0;
    border: 1px solid #ccc;
    padding: 3px 0;
}

.info-detail {
    display: flex;
    padding-left: 10px;
}

.noteforUser {
    font-size: 12px;
    padding: 0 5px;
    font-style: italic;
}

.info-detail-avatar {
    align-items: center;
    text-align: center;
    font-size: 13px;
    margin-left: 10px;
}


/* .dialog-body {
    height: 130px;
    font-size: 20px;
    padding-left: 15px;
  }
  .dialog-body-name {
    padding: 20px 0;
  }
  .dialog-body-query {
    font-style: italic;
    font-weight: 600;
    padding-top: 20px; */


/* } */