.group-button-detail {
    background-color: #f5f5f5;
    overflow: hidden;
    display: flex;
}

.group-button-detail button {
    border: none;
    display: flex;
}

.tabs-detail {
    background-color: #f5f5f5;
    overflow: hidden;
    margin: 15px 0;
}

.tabs-detail button {
    background-color: #fff;
    float: left;
    border-bottom: none;
    border-top: 3px solid #0072bc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    transition: 0.3s;
    font-size: 15px;
    color: #0072bc;
}

.infor-detail-input label {
    display: flex;
}

.table-detail {
    width: 100%;
    /* border: 1px solid #ccc; */
}

.input-require {
    color: red;
}

.table-detail tr {
    margin-top: 20px;
}

.table-detail td:nth-child(1) {
    width: 20%;
}

.form-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 4px 0;
    background-color: #ddd;
}

.col-text {
    padding-left: 50px;
}

.col-text-password {
    text-align: center;
}

.text-note {
    font-size: 13px;
    font-style: italic;
}

.form-input-date {
    width: 100%;
    border: 1px solid #ccc;
    padding: 3px 0;
    background-color: #ddd;
}

.form-input:focus {
    outline: 1px solid #0087be;
}

.table-detail .col-50 {
    width: 32%;
}

.table-detail input[type="checkbox"] {
    margin: 2px 6px 2px 0;
    border: 1px solid #ccc;
    padding: 3px 0;
}

.info-detail {
    display: flex;
}

.noteforUser {
    font-size: 12px;
    padding: 0 5px;
    font-style: italic;
}

.info-detail-avatar {
    align-items: center;
    text-align: center;
    font-size: 13px;
    margin-left: 10px;
}